<section id="resenas">
    <div class="titulos"><h2>RESEÑAS</h2></div>
    <div class="cont-resenas">
        <div class="box">
            <i class="fas fa-quote-left quote"></i>
            <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, 
            quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
            <div class="content-test">
            <div class="info">
                <div class="name">Alexa Smith</div>
                <div class="tour">Reseñas | Panadela</div>
                <div class="stars-test">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="image">
                <img src="../../assets/imagenes/reseñas/foto1.jpg" alt="foto_perfil">
            </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-quote-left quote"></i>
            <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, 
            quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
            <div class="content-test">
            <div class="info">
                <div class="name">Michael Bellis</div>
                <div class="tour">Reseñas | Panadela</div>
                <div class="stars-test">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                </div>
            </div>
            <div class="image">
                <img src="../../assets/imagenes/reseñas/foto2.jpg" alt="foto_perfil">
            </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-quote-left  quote"></i>
            <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, 
            quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
            <div class="content-test">
            <div class="info">
                <div class="name">Kristina Bellis</div>
                <div class="tour">Reseñas | Panadela</div>
                <div class="stars-test">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                </div>
            </div>
            <div class="image">
                <img src="../../assets/imagenes/reseñas/foto3.jpg" alt="foto_perfil">
            </div>
            </div>
        </div>
    </div>
</section>
<div class="cont-wave">
    <img src="../../assets/imagenes/wave.svg"class="wave">
</div>