<section id="about">
    <div class="container">
        <div class="titulos"><h2>ACERCA DE PANADELA</h2></div>
        <div class="desciption">
            <p>¡Bienvenidos a nuestro sitio web de Capuchinos! Somos una cafetería especializada en la preparación de deliciosos 
            capuchinos. Nuestro objetivo es brindarte una experiencia única en cada taza.</p>
            <p>En Capuchinos, seleccionamos cuidadosamente los granos de café de alta calidad y utilizamos técnicas de preparación 
            precisas para obtener un sabor excepcional en cada taza de capuchino. Nuestros baristas altamente capacitados se 
            esfuerzan por ofrecerte la mejor experiencia de café.</p>
            <p>Además de nuestros capuchinos clásicos, también ofrecemos una variedad de opciones de sabores y personalizaciones 
            para satisfacer tus gustos individuales. Ven a visitarnos y disfruta de la mezcla perfecta de café y arte en un ambiente acogedor.</p>
        </div>
        <div class="cont-media">
            <div class="cont-img">
                <img class="img" src="../../assets/imagenes/about.jpg" alt="Imagen de Capuchinos">
            </div>
            <div class="cont-vid">
                <iframe src="https://www.youtube.com/embed/23XsNxw69DQ" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen class="video"></iframe>
            </div>
        </div>
        <div class="cont-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.41058688155996!2d-74.47615441908263!3d5.010939708466688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e409a38a8d7a93f%3A0x2771c430f8742512!2sCl.%207%20%2310-64%2C%20Villeta%2C%20Cundinamarca!5e0!3m2!1ses!2sco!4v1681067161769!5m2!1ses!2sco" 
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
        </div>
    </div>
</section>
<div class="cont-wave">
    <img src="../../assets/imagenes/wave2.svg"class="wave">
</div>
