<section class="sec-banner" id="inicio">
    <div class="contenido-bn">
        <h1 class="titulo animate__animated animate__zoomInDown">Panadela</h1>
        <h2 class="nombre slogan animate__animated animate__zoomIn">Endulza tu vida con cada bocado</h2>
        <span class="nombre animate__animated animate__zoomIn">Capuchinos de tradición, calidad y exquisitez</span>
    </div>
</section>
<!-- <div class="wave">
    <img src="../../assets/imagenes/wave.svg" class="w-1">
    <img src="../../assets/imagenes/wave 2.svg" class="w-2">
</div> -->